body {
    font-weight: bold;
    margin: 2rem;
}

.bar-chart-container {
    border: 1px solid #ccc;
}

#dropdown option[value="revenue"] {
    color: red;
}

#dropdown option[value="profit"] {
    color: blue;
}

#dropdown option[value="capital-expenditure"] {
    color: green;
}
