body {
    font-weight: bold;
    margin: 2rem;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 140px 80px;
    background-position: 50% 5%;
    background-color: rgba(255, 255, 255, 0.8); 
}
/* svg {
    
}  */

.tree-chart-container {
    border: 1px solid #ccc;
}

.stackbar-chart-container {
    border: 1px solid #ccc;
}


#dropdown option[value="revenue"] {
    background-color: green; 
    color: red;
}

#dropdown option[value="net_income"] {
    color: blue;
}

#dropdown option[value="capital-expenditure"] {
    color: green;
}
