body {
    font-weight: bold;
    margin: 2rem;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 140px 80px;
    background-position: 40% 5%;
    background-color: rgba(255, 255, 255, 0.8); 
}
svg {
    background-color: rgb(255, 255, 255,0.2); /* 完全不透明的黑色背景 */
} 

.tree-chart-container {
    border: 1px solid #ccc;
}

.stackbar-chart-container {
    border: 1px solid #ccc;
}


#dropdown option[value="revenue"] {
    color: red;
}

#dropdown option[value="net_income"] {
    color: blue;
}

#dropdown option[value="capital-expenditure"] {
    color: green;
}
